@model IEnumerable<CRUD_CODEFIRST.Models.Product>

@{
    ViewData["Title"] = "Create1";
}

<h1>Create1</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Propname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Propname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PropId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PropId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PropId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
