@model IEnumerable<MVC_PART1.Models.Event>




@{
    ViewData["Title"] = "Event Home";
}

@if (TempData["LoginMessage"] != null)
{
    <div style="padding: 10px; background-color: lightgreen; color: black; border: 1px solid green;">
        @TempData["LoginMessage"]
    </div>
}

<h2 class="text-center">                 Welcome to the Event Dashboard                    </h2>


@{
    var successMessage = TempData["Success"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">
        @successMessage
    </div>
}






<h1>      </h1>

<p>
    <a asp-action="Create" asp-controller="Event" class="btn btn-primary mx-auto">Create New Event</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                @* <td> *@
                @*     @Html.DisplayFor(modelItem => item.ID) *@
                @* </td> *@

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.capacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" onclick="confirm('Are You Sure ?')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
